body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  margin: 20px;
}

.avatar {
  width: 120px;
}

.card {
  background: #44193298;
  border-bottom: 6px solid #4e2168;
  border-radius: 8px;
  color: #2b2839;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
  width: 400px;
}

.hr1 {
  border: 0;
  border-top: 1px solid #bbb1c7;
  margin: 10px auto;
  width: 85%;
}

.hr2 {
  border: 0;
  border-top: 1px solid #bbb1c7;
  margin: 10px auto;
  width: 65%;
}

.hr3 {
  border: 0;
  border-top: 1px solid #bbb1c7;
  margin: 10px auto;
  width: 45%;
}
